* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #373737;
    color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}


/* Убираем стандартный скроллбар */

::-webkit-scrollbar {
    width: 10px;
    background-color: #373737;
}


/* Стилизуем полосу прокрутки */

::-webkit-scrollbar-thumb {
    background-color: #737373;
    border-radius: 5px;
}


/* Стилизуем кнопки скролла */

::-webkit-scrollbar-button {
    display: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.col {
    margin: 0 auto;
    max-width: 1000px;
    transition: .3s;
}

h1 {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list_img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
}

.card {
    margin: 10px 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_cont {
    max-width: 200px;
}

.img_cont>img {
    width: 100%;
}

p {
    font-size: clamp(14px, 4vw, 26px);
}

#container {
    background-color: #141414;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.tag_head {
    border-radius: 5px;
    padding: 2px;
    background-color: #3e3e3e;
}

.container_tags {
    background-color: #141414;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.style_list {
    font-size: 18px;
}

li {
    margin: 7px;
    font-weight: bold;
}

.info_tags {
    font-weight: normal;
}

@media (max-width: 600px) {
    .img_cont {
        max-width: 125px;
    }
}